/* src/App.css */
.container {
  text-align: center;
  padding: 50px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;

}

.box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.blue-deployment {
  background-color: green;
  margin-top: 50px;
  width: 450px;
  height: 150px;
}

.footer {
  margin-top: 30px;
  font-size: 0.9em;
  color: #555;
}